/*-------------      Master Styles       ----------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f5f8;
    color: #222;
    margin: 0;
}

main {
  background-color: #617d98;
  width: 95%;
  margin: 0 auto;
}

/*---------------   Navigation Styles   -----------------*/

nav {
  height: 6rem;
  background-color: #000733;
  color: #eeeeee;
}

.navLinks {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover,
a:focus {
  color: #dddd00;
}

.active_nav_link {
  border-bottom: 1px solid #dddddd;
}

/*--------------        Body Styles     -----------------*/

/*-------------   Main Section Styles   -----------------*/

#root {
  border: 1px solid black;
}

.bookList {
    width: 100%;
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 900px) {
    .bookList {
        /* Creates grid layout */
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

.bookImage {
  width: 10rem;
  height: 13rem;
}

.book h3 {
    margin-top: 0.5rem;
}

.book h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.25rem;    
}

.book p {
    margin-top: 0.5rem;
}
